* {
  box-sizing: border-box;
}

.body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "navigation logo contacts";
  align-items: center;
  padding: 90px 0;
  font-size: 18px;
  line-height: 1.2;
  transform: translate(1px);
}

.custom_underline {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.head__navigation {
  grid-area: navigation;
  display: flex;
  align-items: center;
  gap: 13px;
}

.navigation__none__underline {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
}

.head__navigation-item {
  margin-left: 20px;
  position: relative;
  width: max-content;
}

.head__navigation-item:first-child {
  margin-left: 50px;
}

.head__navigation-item:first-child::before {
  display: none;
}

.head__navigation-item::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  left: -19px;
  width: 6px;
  height: 6px;
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.head__logo {
  grid-area: logo;
  min-width: 136px;
  margin-top: 2px;
  margin-right: 1px;
}

.head__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-self: flex-end;
  font-style: normal;
  align-self: center;
  margin-right: 2.8em;
  max-width: 240px;
}

.adress_rows {
  line-height: 1.3;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.title {
  padding: 165px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.55em;
  position: relative;
  z-index: 1;
}

.word {
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
}

.text-align-start {
  align-self: flex-start;
}

.text-align-center {
  align-self: center;
  margin-left: 0.3em;
}

.text-align-end {
  margin-right: -0.3em;
  align-self: flex-end;
}

.white__text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

.description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 103px 50px 0;
  word-spacing: 0.85em;
  text-transform: uppercase;
}

.button__title {
  background: transparent;
  padding: 11px 31px;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  transform: translate(1px);
}

.lots__title {
  padding: 180px 0 27px 64px;
}

.text__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: space-evenly;
  align-content: space-evenly;
  position: relative;
}

.card {
  position: relative;
  max-width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  list-style: none;
}

.card__film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot__article {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: none;
  padding: 2.2em 1.77em;
}

.lot__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 1;
  text-decoration: underline;
}

.lot__content {
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
}

.link__more {
  margin: 30px 0 0 63px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-top: 100px;
}

.title__about {
  margin-bottom: 0;
  margin: 108px 0 100px;
}

.about__content {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 45px 1.8em 0 48px;
  line-height: 1.2;
  transform: translate(1px);
}

.about__content--text {
  margin-top: 24px;
  font-size: 20px;
}

.about__content--text:first-child {
  margin-top: 0;
}

.about__logo {
  margin-top: 51px;
  margin-left: 21%;
  background-image: url(../images/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 148px 114px;
  aspect-ratio: 1;
  max-width: 241px;
  border-radius: 50%;
  background-color: #000000;
}

.footer {
  margin-top: 180px;
  display: grid;
  font-size: 18px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 0;
  line-height: 1.2;
  transform: translate(1px);
}

.footer__contacts {
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
  margin-left: 23px;
}

.footer__navigation {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  line-height: 1.15;
}

.footer__our_media {
  grid-column: 3;
}

.media {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 27px;
  margin-right: 3px;
}

.media__logo {
  aspect-ratio: 1;
  max-height: 48px;
}
