* {
  box-sizing: border-box;
}

.body {
  width: 1100px;
  font-family: "raleway";
  font-weight: 400;
  font-size: 24px;
  font-style: Regular;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "navigation logo contacts";
  align-items: center;
  min-height: 293px;
  font-size: 18px;
  line-height: 1.2;
  transform: translate(1px);
}

.custom_underline {
  display: inline-block;
  width: fit-content;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.head__navigation {
  display: flex;
  grid-area: navigation;
  align-items: center;
  gap: 13px;
}

.navigation__none__underline {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
}

.head__navigation-item {
  position: relative;
  top: -2px;
  left: -1px;
  width: max-content;
  margin-left: 20px;
}

.head__navigation-item:first-child {
  margin-left: 50px;
}

.head__navigation-item:first-child::before {
  display: none;
}

.head__navigation-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -19px;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.head__logo {
  grid-area: logo;
  align-self: center;
  min-width: 148px;
  min-height: 105px;
  margin-top: -3px;
  background-image: url(../images/logo-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.head__contacts {
  display: flex;
  flex-direction: column;
  grid-area: contacts;
  justify-self: flex-end;
  gap: 2px;
  align-self: center;
  width: 240px;
  min-height: 98px;
  margin-right: 2.8em;
  font-family: "raleway";
  font-style: normal;
}

.adress_rows {
  line-height: 1.3;
}

.cover {
  position: relative;
  z-index: 0;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.5);
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.55em;
  padding: 165px 50px 0;
}

.word {
  color: #ffffff;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.first {
  align-self: flex-start;
}

.second {
  align-self: center;
  margin-left: 0.3em;
}

.third {
  align-self: flex-end;
  margin-right: -0.3em;
}

.white__text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
}

.description {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 103px 50px 0;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.button__title {
  border: 1px solid #fff;
  padding: 11px 31px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  transform: translate(1px);
}

.lots__title {
  padding: 180px 0 27px 64px;
}

.text__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.card {
  position: relative;
  z-index: 0;
  max-width: 334px;
  min-height: 596px;
  list-style: none;
  background-position: center;
  background-size: cover;
}

.card__first {
  background-image: url(../images/card-lot-01.jpg);
}

.card__second {
  background-image: url(../images/card-lot-02.jpg);
}

.card__third {
  background-image: url(../images/card-lot-03.jpg);
}

.lot__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2.2em 1.77em;
  text-decoration: none;
  text-transform: none;
}

.lot__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot__content {
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
}

.link__more {
  margin: 30px 0 0 63px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  min-height: 595px;
  margin-top: 100px;
}

.title__about {
  margin: 108px 0 100px;
  margin-bottom: 0;
}

.about__content {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 45px 1.8em 0 48px;
  line-height: 1.2;
  transform: translate(1px);
}

.about__content--space {
  margin-top: 25px;
}

.about__logo {
  width: 72%;
  margin-top: 51px;
  margin-left: 21%;
  border-radius: 50%;
  background-color: #000000;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 114px;
  aspect-ratio: 1;
}

.text__about {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 0;
  min-height: 180px;
  margin-top: 180px;
  font-size: 18px;
  line-height: 1.2;
  transform: translate(1px);
}

.footer__contacts {
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
  margin-left: 23px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  justify-content: start;
  align-items: center;
  line-height: 1.15;
}

.footer__our_media {
  grid-column: 3;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 3px;
  margin-left: 27px;
  list-style: none;
}

.yt {
  min-height: 48px;
  background-image: url(../images/yt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  aspect-ratio: 1;
}

.vk {
  min-height: 48px;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  aspect-ratio: 1;
}

.pin {
  min-height: 48px;
  background-image: url(../images/pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  aspect-ratio: 1;
}
